.content-footer {
  display: flex;
  position: relative;
  z-index: 1;
}

.content-footer img {
  position: relative;
  z-index: 2;
}

.footer {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background: linear-gradient(to top, #0a1b3d, var(--primary));
  padding: 20px;
  border-radius: 30px 30px 0 0;
  font-size: 20px;
  color: white;
  text-align: center;
  font-weight: 500;
  cursor: pointer;
  position: absolute;
}

.footer p {
  padding: 0;
  margin: 0;
}

.footer:hover p {
  border-bottom: 2px solid #FFF;
}

.left-triangle {
  left: -40%;
  top: 20px;
}

.right-triangle {
  right: -45%;
  top: 65px;
}

@media (max-width: 1024px) {
  .content-footer {
    width: 100%;
  }

  .content-footer img {
    display: none;
  }

  .footer {
    padding-left: 0;
    padding-right: 0;
  }
}